<% content_for :title do %>
	Album Catalog
<% end %>
<div class="m1-light red-font huge">Search Results</div>

<div style="padding:20px 20px 20px 20px">
	<%= form_for :catalog, :url => catalog_search_path do |c| %>
		Artist <%= c.text_field :artist %>
		Album <%= c.text_field :album %>
		<%= c.submit 'Search' %>
	<% end %>
</div>

<style type="text/css" media="screen">
	.div-table {
		
	}
	.wide-col {
		width:274px;
	}
	.narrow-col {
		width:145px;
	}
	.narrower-col {
		width:72px;
	}
	.mini-col {
		width:32px;
	}
	.row {
		background-color:#F0F0F0;
		padding:5px;
		width:870px;
		float:left;
	}
	.row:hover {
		background-color:#FFC1C1;
	}
	.cat-id {
		opacity:0.8;
		-moz-opacity:0.8;

	}
	.download:hover {
		opacity:1;
		-moz-opacity:1;
	}
</style>
<div style="background-color:#E8E8E8;border:#E8E8E8 3px solid;height:auto;float:left;padding:10px;" class="rounded-heavy div-table">
	<div style="width:870px;background-color:#E8E8E8;height:30px;text-align:left;padding:5px 0px 0px 5px;">
		<div class="m1-bold narrower-col float-left">Id</div>
		<div class="m1-bold wide-col float-left">Artist</div>
		<div class="m1-bold wide-col float-left">Album</div>
		<div class="m1-bold narrower-col float-left">Year</div>
		<div class="m1-bold narrow-col float-left">Label</div>
	</div>
	<% unless flash[:error ] %>
		<% @catalogs.each do |catalog| %>
			<div class="row">
				<div style="padding-top:6px;" class="narrower-col cat-id float-left"><%= catalog.number %></div></a>
				<div style="padding-top:6px;padding-left:3px;" class="float-left wide-col"><%= catalog.artist %></div>
				<div style="padding-top:6px;" class="float-left wide-col"><%= catalog.album %></div>
				<div style="padding-top:6px;" class="float-left narrower-col"><%= catalog.year %></div>
				<div style="padding-top:6px;" class="float-left narrower-col"><%= catalog.label %></div>
			</div>
		<% end %>
	<% else %>
		<%= flash[:error] %>
	<% end %>
</div>
<% unless flash[:error ] %>
<%= will_paginate(@catalogs) %>
<% end %>