<% @i = 0 %>
<% content_for :title do %><%= @artist.name %> on KPSU.org with playlist, track, album, and artist information<% end %>
<% content_for :meta_description do %>Playlists, tracks, album, and information about <%= @artist.name %> played on KPSU.org <% end %>
<% content_for :meta_keywords do %><%= @artist.name %>, <% @a.each do |album| %><% if @i < 3 %> <% @i + 1 %> <%= album.name %>, <% end %><% end %>, KPSU, dj, playlists, tracks, <%= @artist.name %> radio, college radio, free format radio<% end %>
<% content_for :meta_fb_description do %>Check out <%= @artist.name %>'s page to see playlists, tracks, albums, and more featuring <%= @artist.name %> on KPSU.org<% end %>
<% content_for :meta_fb_title do %><%= @artist.name %> on KPSU.org with playlist, track, album, and artist information<% end %>
<% content_for :meta_fb_image do %><%= if @amazon then @amazon end %><% end %>
<style type="text/css" media="screen">
	.playlist-row {
		border-right:1px solid #222222;
		border-left:1px solid #222222;
		background-color:#343434;
	}
	.playlist-row:hover {
		background-color:#565656;
	}
	th {
		background-color:#232323;
		border-right:1px solid #222222;
		border-left:1px solid #222222;
		border-top:1px solid #222222;
	}
	.drop-shadow:hover {
	    box-shadow: 0 0 5px rgba(139, 137, 137, 2);
	    -webkit-box-shadow: 0 0 5px rgba(139, 137, 137, 2); 
	    -moz-box-shadow: 0 0 5px rgba(139, 137, 137, 2); 
	}
	.album-art {
		opacity:.75;
	}
	.album-art:hover {
		opacity:1;
	}
	.light {
		background-color:#454545;
	}
	tr {
		padding:3px;
	}
	th {
		margin-bottom:10px !important;
	}
	.tooltip {
		display:none;
		z-index:300;
		background:url(/images/white-box-arrow.png);
		height:163px;
		left:335.5px !important;
		padding:40px 30px 10px 30px;
		width:310px;
		font-size:11px;
		color:#696969;
	}
	.artist-playlists {
		padding-top: 0px;
		margin-left: 15px;
		width: 664px;
		padding-right: 10px;
		background-color: #232323;
		border-radius: 10px;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		float:left;
	}
	#artist-album-art {
		width: 664px;
		margin-top: 15px;
		background-color: #232323;
		padding: 10px 5px 10px 6px;
		margin-bottom: 20px;
		margin-left: 14px;
	}
	#album-art-wrapper {
		margin-top: 15px;
		margin-bottom: 10px;
	}
	.label {
		position: relative;
		top: 6px;
		left: 11px;
	}
	.members {
		margin-left: 40px;
	}
</style>
<% content_for :page_headline do %>
	<div class="bebas blue-text twelve-pt" title="<%= @artist.name %>"><%= @artist.name %></div>
<% end %>
<div class="artist white-text">
<div class="rounded-heavy-bottom " style="z-index:100;width:220px;line-height:12px;height:50px;float:right;margin:20px 0px 0px 0px;">
	<div title="Share <%= @artist.name %>'s Artist Profile" class="social-networking" style="float:right;width:664px;text-align:left;">
		<div class="bebas <%= random_text_color %> float-right" style="padding-right:43px;">Share</div>
		<div class="bebas <%= random_text_color %> float-right" style="margin-right: 185px;">Links</div>
		
		<div class="float-right clear-both" style="margin:10px 0px 0px 10px;padding-right:28px;">
			<!-- REGARDING FACEBOOK %2F stands for / and w -->
			<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fkpsu.org<%= url_for(@artist) %>&amp;layout=button_count&amp;show_faces=true&amp;width=40&amp;action=like&amp;font=segoe+ui&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:80px; height:21px;float:left;" allowTransparency="true"></iframe>
	
			<a href="http://twitter.com/share/?url=http://kpsu.org<%= url_for(@artist) %>" class="twitter-share-button float-right" data-count="horizontal" data-via="KPSU_PDX" data-text="Check out <%= @artist.name %>'s playlists and information on KPSU #kpsu">Tweet</a>
			<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
		</div>
		<div class="float-right twelve-pt dejavu-condensed" style="margin-top:10px;margin-right: 40px;">
			<% unless @a_brainz.get_relations(:relation_type => 'SocialNetwork').empty? %>
			<div style="margin-right:0px;" class="float-right">
				<a href="<%= @a_brainz.get_relations(:relation_type => "SocialNetwork").first.target %>">
				<div class="dejavu-condensed white-text" style="margin:4px 4px 0px 4px">Facebook</div>
				</a>
			</div>
			<% end %> 
			<% unless @a_brainz.get_relations(:relation_type => 'MySpace').empty? %>
			<div style="margin-right:0px;" class="float-right">
				<a href="<%= @a_brainz.get_relations(:relation_type => "MySpace").first.target %>">
				<div class="dejavu-condensed white-text" style="margin:4px 4px 0px 4px">MySpace</div>
				</a>
			</div>		
			<% end %> 
			<% unless @a_brainz.get_relations(:relation_type => "Microblog").empty? %>
			<div style="margin-right:0px;" class="float-right">
				<a href="<%= @a_brainz.get_relations(:relation_type => "Microblog").first.target %>">
				<div class="dejavu-condensed white-text" style="margin:4px 4px 0px 4px">Twitter</div>
				</a>
			</div>
			<% end %> 
			<% unless @a_brainz.get_relations(:relation_type => "Wikipedia").empty? %>
			<div style="margin-right:0px;" class="float-right">
				<a href="<%= @a_brainz.get_relations(:relation_type => "Wikipedia").first.target %>">
				<div class="dejavu-condensed white-text" style="margin:4px 4px 0px 4px">Wikipedia</div>
				</a>
			</div>
			<% end %>
		</div>
	</div>
	
</div>

</div>
<div class="albums float-left clear-both" style="padding-bottom:10px;">
<div class="m1-regular large" style="padding:10px;"></div>
<div class="members float-left m1-regular curvy">
	<ul class="dejavu-condensed white-text vertical" style="width:160px;">
		<li class="blue-text sixteen-pt bebas">Members</li>
	<% @brainz.band_members(@artist.brainz_id).each do |p| %>
		<li class="vertical" style="padding:0 0 0 10px;font-size:.75em;width:150px;word-wrap:break-word;"><%= p %></li>
	<% end %>
		<li class="blue-text sixteen-pt bebas" style="margin-top:10px;">Albums</li>
	<% @rels = @brainz.lookup_artist(@artist.brainz_id).releases %>
	<% @bums = @rels.map{|r| r.title}.uniq.join(", ")%>
	<% @bums.split(/\,/).each do |bum| %>
		<li class="vertical" style="padding:0 0 0 10px;font-size:.75em;width:150px;word-wrap:break-word;"><%= bum %></li>
	<% end %>
	</ul>
</div>

<div class="m1-regular normal float-left rounded-heavy" id="artist-album-art" title="<%= @artist.name %>'s Album Covers">
	<span class="label twenty-pt bebas <%= random_text_color %>">Album Art</span>
	<div id="album-art-wrapper" class='float-left clear-both'>
	<% @i = 0; @titles = [] %>
	<% @a_brainz.releases.each do |album| %>
		<% @img = @brainz.lookup_album_art(album) %>
		<% if @img && @i < 5 && !@titles.include?(album.title) %>
		<% @i += 1; @titles << album.title %>
		<div class="m1-regular float-left medium" style="padding:0px 0px 0px 0px;margin-left:10px;width:120px;" title="<%= album.title %>">
			<a title="Click to see <%= album.title %> fullsize" href="<%= @img[:large] %>" class="image"><img title="<%= @artist.name %> <%= album.title %>" src="<%= @img[:small] %>" style="width:100%;" class="drop-shadow album-art rounded-heavy transition-0-25"></a>
		</div>
		<% end %>
	<% end %>
	</div>
</div>
<div class='artist-playlists' title="Playlists with <%= @artist.name %> from KPSU">
	<span class="label twenty-pt bebas <%= random_text_color %>">Playlists</span>
	<table class="rounded-heavy" style="border-collapse:collapse;margin:10px 0px 0px 10px;">
		<th class="sixteen-pt blue-text dejavu-condensed">DJ</th>
		<th class="sixteen-pt blue-text dejavu-condensed">Title</th>
		<th class="sixteen-pt blue-text dejavu-condensed">Show</th>
	<tbody>
	<% @playlists.each do |p| %>
	<% unless p.title == "" %>
	<tr class="transition-0-25 playlist-row <%= cycle("light", "dark") %>">
		<td class="m1-regular" style="text-align:center;padding:3px;width:110px !important;"><%= link_to(p.user.dj_name, user_path(p.user), :class => "orange-text twelve-pt") rescue nil %></td>
		<td class="m1-regular" style="text-align:center;padding:3px;width:340px !important;"><%= link_to "#{truncate(p.title, :length => 30) rescue nil}", p, :class => "green-text playlist-link twelve-pt" %><div class="tooltip m1-regular"> 
			<div style="margin:0px;"> 
				<div class="float-left"> 
					<div style="width:100px;text-align:right;margin-right:8px;" class="float-left label m1-bold red-font">Program</div> 
					<div class="float-left"><%= p.program.title rescue nil %></div> 
				</div> 
				<div class="float-left clear-left"> 
					<div style="width:100px;text-align:right;margin-right:8px;"  class="float-left label m1-bold red-font">DJ</div> 
					<div class="float-left "><%= p.user.dj_name rescue nil %></div> 
				</div> 
				<div class="float-left clear-left"> 
					<div style="width:100px;text-align:right;margin-right:8px;" class="float-left label m1-bold red-font">Tracks Played</div> 
				</div>
				
				<% @tracks = p.tracks.where(:artist_id => @artist.id); @tsize = @tracks.size; @i = 0; @tracks.each do |t| %> 
				<div class="float-left">
					<% @i += 1; unless @i >= @tsize %> 
						<div>&nbsp;<%= t.title %>,</div>
					<% else %> 
						<div><%= t.title %></div>
					<% end %>
				</div>		
				<% end %>
			</div>
			<div style="float:left;width:310px;text-align:center;margin-top:5px;font-size:1em !important;">
				<%= link_to "View Playlist", p, :class => "red-font large-sm" %> 
			</div>
		</div></td>


		<td class="m1-regular" style="text-align:center;padding:3px;width:230px !important;"><%= link_to "#{truncate(p.program.title, :length => 50)}", p.program, :class => "yellow-text twelve-pt" rescue nil %></td>
	</tr>
	
	<% end %>
	<% end %>
	</tbody>
	</table>
</div>
</div>
<% content_for :page_js do %>
	$('a.image').lightBox({fixedNavigation:true});
	$(".playlist-link").tooltip({ effect: 'slide', slideOffset: -3});
<% end %>
