<%= form_for(@program, :html => {:multipart => true}, :remote => true) do |f| %>
  	<% if @program.errors.any? %>
  	  <div id="error_explanation">
  	    <h2><%= pluralize(@program.errors.count, "error") %> prohibited this program from being saved:</h2>
  	
  	    <ul>
  	    <% @program.errors.full_messages.each do |msg| %>
  	      <li><%= msg %></li>
  	    <% end %>
  	    </ul>
  	  </div>
  	<% end %>
	<% if @event != nil then @event.errors.any? %>
  	  <div id="error_explanation">
  	    <h2><%= pluralize(@program.errors.count, "error") %> prohibited this program from being saved:</h2>
  	
  	    <ul>
  	    <% @event.errors.full_messages.each do |msg| %>
  	      <li><%= msg %></li>
  	    <% end %>
  	    </ul>
  	  </div>
  	<% end %>
  	
  	<div class="form program-title">
  	  <div class="dejavu-condensed blue-text sixteen-pt">Title</div>
  	  <%= f.text_field :title, :class => "rounded-heavy" %>
  	</div>
	<div class="form program-genre">
	  <div class="dejavu-condensed blue-text sixteen-pt">Genre</div>
  	  <%= select_tag "genre", options_for_select(genres, :selected => "#{ @program.genre == nil ? "0" : @program.genre.id }", :multiple => false, :size => 1 )%>
  	</div>

  	<div class="form program-graphic clear-both">
	<div class="dejavu-condensed blue-text sixteen-pt">Graphic</div>
		<%= f.file_field :thumb %>
  	</div>
	<div class="form program-dj">
		<div class="dejavu-condensed blue-text sixteen-pt">DJ</div>
		<% if @dj != nil %>
		<%= select_tag "user", options_from_collection_for_select(@dj, "id", "dj_name", :selected => "#{ @program.user == nil ? "0" : @program.user.id }") %>
		<% end %>
	</div>
	<div class="program-timeslot dejavu-condensed white-text twelve-pt">
	<% if current_user.staff %>
	<% unless @program.event == nil %>

	<div class="dejavu-condensed sixteen-pt blue-text margin-sm">Time Slot</div>
  	<div  class="form">
		<%= label_tag 'Day'%><br/>
		<%= select_tag "day", options_for_select(days_of_the_week, :selected => @program.event.day_i, :multiple => false, :size => 1) %>
		<br/><br/>
		<%= label_tag 'Start Time' %><br/>
		<span class="dejavu-book yellow-text">Hour</span>
			<%= select_hour @program.showtime.starts_at.hour, :field_name => 'starts_at_hour' %>
		<span class="dejavu-book yellow-text">Min</span>
			<%= select_minute 00, :minute_step => 30, :field_name => 'starts_at_minute' %><br/>
			<%= label_tag 'End Time' %><br/>
		<span class="dejavu-book yellow-text">Hour</span>
			<%= select_hour @program.showtime.ends_at.hour, :field_name => 'ends_at_hour' %>
		<span class="dejavu-book yellow-text">Min</span>
			<%= select_minute 00, :minute_step => 30, :field_name => 'ends_at_minute' %>
  	</div>
	<% else %>
	<div class="dejavu-condensed sixteen-pt yellow-text margin-sm">Time Slot</div>
  	<div class="form" style="margin:20px;">
		<%= label_tag 'Day'%><br/>
		<%= select_tag "day", options_for_select(days_of_the_week, :multiple => false, :size => 1) %>
		<br/><br/>
		<%= label_tag 'Start Time' %><br/>
		<span class="dejavu-book yellow-text">Hour</span>
			<%= select_hour Time.now.hour, :field_name => 'starts_at_hour' %>
		<span class="dejavu-book yellow-text">Min</span>
			<%= select_minute 00, :minute_step => 30, :field_name => 'starts_at_minute' %><br/>
			<%= label_tag 'End Time' %><br/>
		<span class="dejavu-book yellow-text">Hour</span>
			<%= select_hour Time.now.hour, :field_name => 'ends_at_hour' %>
		<span class="dejavu-book yellow-text">Min</span>
			<%= select_minute 00, :minute_step => 30, :field_name => 'ends_at_minute' %>
  	</div>
	<% end %>
	<div id="availability-button" class="pointer dejavu-book green-text">Check Availability</div>
	<div class='dejavu-book standard'>*The availability check is NOT able to detect conflicts if the conflicting (existing) show is two hours. </div>
	
	<% end %>
	</div>
	<div style = "color: red;">
		<a> Hide program? </a>
		<%= f.check_box :visible %>
	</div>

  	<div class="form program-body clear-left">
  	  <div class="dejavu-condensed blue-text">Body</div>
  	  <%= f.text_area :description, :class => "rounded-heavy", :rows => 10, :style => "width:500px;" %>
  	</div>
  	<div class="form program-save float-right green-text">
  	  <%= f.submit "Save Program", :class => "yellow-text" %>
  	</div>

<% end %>
<script type="text/javascript">
$("#availability-button").click(function(){
	var dataString = $(":input").serializeArray();
$.ajax({
	url: "/schedule/timeslot_availability",
	data: dataString,
    type: "POST",
    beforeSend: function (xhr) {
	 $("#availability-button").html("Checking...")
    },
    success: function (xhr) {
	 $("#availability-button").html("<span class=\"dejavu-book\"> Try another time</span>");
	
		$.each(xhr['events'], function(i, data){
			if ($("#availability-button").hasClass("green-text")){
				$("#availability-button").removeClass("green-text").addClass("red-text");
			}
			if(i <= 1){
				var hour = data['starts_at'].split("\:")[0]
				var day = data['day_i']
				var duration = data['duration']
				var name = data['name']
				$("#availability-button").append("<br>Conflicts with <b>"+name+"</b>")	
			}
			});
	},
    complete: function (xhr) {
		
    },
    error: function (xhr, status, error) {
		$("#availability-button").html("Check Availability<br/><span style=\"cursor:text;\" class=\"dejavu-book\"> w00t! Time slot available</span>");
		
    }
});
});
</script>