<style type="text/css" media="screen">
	th, table, tr, td {
		font-family:"M1Cregular" !important;
		padding:10px;
	}
	td.header {
		font-family:"M1Cbold" !important;
	}
	.rows {
		padding:5px !important;
		margin:5px !important;
	}
</style>
<div class="m1-thin huge float-left red-font float-left clear-both">Program Manager</div>

<table class="rounded-heavy" style="background-color:#f7f7f7;clear:both;float:left;width:580px;margin-top:20px;">
  <tr>
    <td style="text-align:center;width:300px;padding:2px;" class='header'>Title</td>
    <td style="text-align:center;width:150px;padding:2px;" class='header'>Genre</td>
    <td style="text-align:center;width:250px;padding:2px;" class='header'>User</td>
    <td style="text-align:center;width:100px;padding:2px;" class='header'>&nbsp;</td>
    <td style="text-align:center;width:100px;padding:2px;" class='header'>Options</td>
    <td style="text-align:center;width:100px;padding:2px;" class='header'>&nbsp;</td>
  </tr>

<% @programs.each do |program| %>
  <tr class="rows">
    <td><%= link_to(program.title, edit_program_path(program),:class => "red-font") %></td>
    <td><%= if program.genre then program.genre.title end %></td>
    <td><%= program.user.dj_name rescue nil %></td>
    <td><%= link_to 'Show', program %></td>
    <td><%= link_to 'Edit', edit_program_path(program) %></td>
    <td><%= link_to 'Destroy', program, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

