<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
	"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <%= render :partial => 'layouts/meta' %>

  <title>KPSU | <%= yield(:title) %></title>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag "production.alt.css", :cache => true %>
  <%= javascript_include_tag 'production.alt.js', :cache => true %>
	
  <% if RAILS_ENV == "development" %>
  	<script src="http://localhost:8080/application.js" type="text/javascript" charset="utf-8"></script>
  <% end %>

  <script type="text/javascript" src="http://api.recaptcha.net/js/recaptcha_ajax.js"></script>
  <script type="text/javascript">var RecaptchaOptions = {"theme":"clean"};</script>
  <script type="text/javascript" src="/javascripts/modernizr.custom.29473.js"></script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-20622260-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>

<% content_for :title do %>
	Calendar
<% end %>
<% content_for :page_headline do %>
	<span class="bebas sixteen yellow-text" style='text-align:right;'>Live Stream<br/> Schedule</span>
<% end %>
<%= render :partial => "layouts/sidebar" %>


<div>
<br><br>
<iframe src="https://www.google.com/calendar/embed?showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=450&amp;wkst=1&amp;bgcolor=%2333ff33&amp;src=kpsu.org_0vusuocdpl3ner24ot7s924gl8%40group.calendar.google.com&amp;color=%23B1440E&amp;ctz=America%2FLos_Angeles" style=" border:solid 1px #777 " width="600" height="450" frameborder="0" scrolling="no" style="float:right;"></iframe>
</div>
</body>
</html>