<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
	"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	


  
  <%= csrf_meta_tag %>
  <% if RAILS_ENV == "development" %>
  	<script src="http://localhost:8080/application.js" type="text/javascript" charset="utf-8"></script>
  <% else %>
	<script src="http://kpsu.org:8080/application.js" type="text/javascript" charset="utf-8"></script>
  <% end %>
  <%= stylesheet_link_tag "production.alt.css", :cache => "v3_alt_css" %>
  <%= javascript_include_tag 'production.alt.js', :cache => "v3_alt_js" %>
	
</head>
<body id="alternative" style="float:left;float:top">
	<div id="content-wrapper">
						

		<div id="mini-banner" style="float:left"> 
			<img src="/images/v3/mini-banner.png" usemap="#mini-bannermap" style="position: absolute;clip: rect(0px 619px 301px 196px);">
			
			<div id="on-air-offset" style="position: absolute">
			<% cache('alternative_who_is_playing') do %>
			<div id="on-air-program" class="m1-light yellow-text">
				<% unless currently_playing.class == String %>
					<%= link_to(currently_playing[0], program_path(currently_playing[1]), :class => "m1-light yellow-text", :style => "line-height: 15px;") %>
				<% else %>
					<span class="m1-light yellow-text">KPSU</span>
				<% end %>
			</div>
			<div id="on-air-dj" class="m1-light purple-text">
				<% unless currently_playing.class == String %>
					<span class="m1-light purple-text"><%= currently_playing[2] %></span>
				<% else %>
					<span class="m1-light purple-text">Portland's College Radio</span>
				<% end %>
			</div>
			<div id="hidden-player" style="width:0px;height:0px;"></div>
			<div id="player" class="float-left">
				<div id="player_interface">
					<div class="volume-bar">
						<div class="indicator pointer player-buttons"></div>
						<div class="volume-bar-value player-buttons"></div>
					</div>
					<div class="volume-text">
						<div class="quiet">quiet</div>
						<div class="loud">loud</div>
					</div>
					<div class="play pointer player-buttons"></div>
					<div class="stop pointer player-buttons"></div>
				</div>
			</div>
			<div id="on-next">
				<% unless up_next.class == String %>
					<%= link_to(up_next[0], program_path(up_next[1]), :class => "m1-light red-text") %>
				<% else %>
					<span class="m1-light red-text">"We're on Auto Pilot!"</span>
				<% end %>
			</div>	
			<% end %>		
			</div>
		</div>
		<div id="page-headline">
			<%= yield(:page_headline) %>
		</div>
		<div id="content" class="float-left" style="width:946px;height:100%;">
		<%= yield %>
		</div>
	</div>

	<script type="text/javascript" charset="utf-8">
		$(document).ready(function(){
				$("#hidden-player").jPlayer( {
				  ready: function () {
				    $(this).jPlayer("setMedia", {
				          mp3: "http://stream.kpsu.org:8080/listen"
				    }).jPlayer("stop");
				  },
				  ended: function (event) {			
					$(this).jPlayer("play");		
				  },
				  supplied: "mp3",
				  swfPath: "/players/v3/",
				  volume: 0.8
				});	
				function showStopBtn()
				{
					$(".play").fadeOut(function(){
						$(".stop").fadeIn();
					});
				}

				function showPlayBtn()
				{
					$(".stop").fadeOut(function(){
						$(".play").fadeIn();
					});
				}

				$(".play").click(function() {
					$("#hidden-player").jPlayer("play");
					showStopBtn();
					return false;
				});		

				$(".stop").click(function() {
					$("#hidden-player").jPlayer("stop");
					showPlayBtn();
					return false;
				});
				$(".indicator").draggable({
					axis: "x", 
					containment: "parent" });
				$(".indicator").bind("dragstart", function(){
					var offset = $(this).offset().left;
					console.log("Initial Offset:")
					console.log(offset)
					$(this).attr("data-start-offset", offset)	
				});
				$(".indicator").bind("dragstop", function(){
					var offset = $(this).offset().left;
					var parOffset = $(".volume-bar").offset().left + $(".volume-bar").outerWidth() - 18;
					var diff = (parOffset - offset);
					var vol = ((86 - diff*1.25) / 100)

					console.log("ending Offset:")
					console.log(offset)
					console.log("Volume:")
					console.log(vol)
					$("#hidden-player").jPlayer("volume", vol);
				});
			
				<%= yield(:page_js) %>
				
		});
	</script>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-20622260-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</body>
</html>