<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
	"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	


  
  <%= csrf_meta_tag %>
  <% if RAILS_ENV == "development" %>
  	<script src="http://localhost:8080/application.js" type="text/javascript" charset="utf-8"></script>
  <% else %>
	<script src="http://kpsu.org:8080/application.js" type="text/javascript" charset="utf-8"></script>
  <% end %>
  <%= stylesheet_link_tag "production.alt.css", :cache => "v3_alt_css" %>
  <%= javascript_include_tag 'production.alt.js', :cache => "v3_alt_js" %>
	
</head>
<div class = "player-box" style = "position:absolute; left:-50px; top:-60px; bottom:200px;">
	<div id = "on-air-dj">
		<% unless currently_playing.class == String %>
			<span class = "on-air-dj-dynamic" style = "margin-top:5px;"><%= currently_playing[2] %></span>
		<% else %>
			<span class = "on-air-dj-dynamic" style = "margin-top:5px;">Portland's College Radio</span>
		<% end %>
	</div>

	<div id="on-air-program">
		<% unless currently_playing.class == String %>
			<span class = "on-air-dj-text" style = "margin-top:0px">	<%= link_to(currently_playing[0], program_path(currently_playing[1])) %> </span>
		<% else %>
			<span class="on-air-dj-text" style = "margin-top:0">KPSU</span>
		<% end %>
	</div>

	<div id="on-next">
		<% unless up_next.class == String %>
			<%= link_to(up_next[0], program_path(up_next[1]), :class => "up-next-text") %>
		<% else %>
			<span class="up-next-text">"We're on Auto-Pilot!"</span>
		<% end %>
	</div>	

	<div id="hidden-player" style="width:0px;height:0px;"></div>
		<div class="play pointer player-buttons"></div>
		<div class="stop pointer stop-button"></div>
		<span class="pop-box"  href = "/twopointoh/open_in_new_window.png" onclick="window.open('/popup_player', 'asdas', 'toolbars=0,width=290,height=290,scrollbars=0,resizable=0','status=0');" value="Open the window" style = "cursor:pointer; cursor:hand;">
		</span>
</div>

</br>
</br>

<div>
	<% Download.where("user_id != ?", "nil").includes(:program).order("created_at DESC").limit(25).each do  |d| %>
	<a class "a-title"> <%= d.program.title %> </a>
	<a class "a-time"> <%= d.created_at.strftime "%m-%d"%> </a>
	<a class "a-url"> <%= d.url %> </a>
	</br>	
</div>


<%end%>

	<script type="text/javascript" charset="utf-8">
		$(document).ready(function(){
				$("#hidden-player").jPlayer( {
				  ready: function () {
				    $(this).jPlayer("setMedia", {
				          mp3: "http://stream.kpsu.org:8080/listen"
				    }).jPlayer("stop");
				  },
				  ended: function (event) {			
					$(this).jPlayer("play");		
				  },
				  supplied: "mp3",
				  swfPath: "/players/v3/",
				  volume: 0.8
				});	
				function showStopBtn()
				{
					$(".play").fadeOut(function(){
						$(".stop").fadeIn();
					});
				}

				function showPlayBtn()
				{
					$(".stop").fadeOut(function(){
						$(".play").fadeIn();
					});
				}

				$(".play").click(function() {
					$("#hidden-player").jPlayer("play");
					showStopBtn();
					return false;
				});		

				$(".stop").click(function() {
					$("#hidden-player").jPlayer("stop");
					showPlayBtn();
					return false;
				});
				$(".indicator").draggable({
					axis: "x", 
					containment: "parent" });
				$(".indicator").bind("dragstart", function(){
					var offset = $(this).offset().left;
					console.log("Initial Offset:")
					console.log(offset)
					$(this).attr("data-start-offset", offset)	
				});
				$(".indicator").bind("dragstop", function(){
					var offset = $(this).offset().left;
					var parOffset = $(".volume-bar").offset().left + $(".volume-bar").outerWidth() - 18;
					var diff = (parOffset - offset);
					var vol = .8;

					console.log("ending Offset:")
					console.log(offset)
					console.log("Volume:")
					console.log(vol)
					$("#hidden-player").jPlayer("volume", vol);
				});
			
				<%= yield(:page_js) %>
				
		});
	</script>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-20622260-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</body>
</html>