<% content_for :title do %>Portland's college radio, broadcasting free format radio since 1994<% end %>
<% content_for :meta_description do %>KPSU, Portland State University's campus radio broadcasting locally on campus at 98.1 and around the world at KPSU.org<% end %>
<% content_for :meta_keywords do %>internet radio, KPSU, Portland State University Radio, PSU radio, podcast, portland oregon radio, college radio, podcast download<% end %>

<% content_for :meta_fb_description do %>KPSU, Portland State University's campus radio broadcasting locally on campus at 98.1, around the world live from our stream on KPSU.org, or at your leisure through our show podcast archive.<% end %>
<% content_for :meta_fb_title do %>Portland's College Radio, broadcasting free format radio since 1994<% end %>
<% content_for :meta_fb_image do %>http://kpsu.org/images/tempbg.jpg<% end %>
	<div id="post-wrapper" style="margin-top: 20px;">
	<% @posts.each do |post| %>
	<div class="post">
		<div class="header">
			<% if post.content_type_id == 1 %>
				<div class="indianred-text post-type">BLOG</div>
				<div class="indianred chunk-five  float-left title-bar"><%= link_to post.title, post, :class => "black-text" %></div>
			<% elsif post.content_type_id == 3 %>
				<div class="paleviolet-text post-type">ANNOUNCEMENT</div>
				<div class="paleviolet chunk-five black-text float-left title-bar"><%= link_to post.title, post, :class => "black-text" %></div>
			<% elsif post.content_type_id == 2 %>
				<div class="blue-text post-type">NEWS</div>
				<div class="blue chunk-five white-text float-left title-bar"><%= link_to post.title, post, :class => "black-text" %></div>
			<% elsif post.content_type_id == 4 %>
				<div class="sandy-text post-type">REVIEW</div>
				<div class="sandy chunk-five white-text float-left title-bar"><%= link_to post.title, post, :class => "black-text" %></div>	
			<% end %>
		</div>
		<div class="body">
			<% if post.user != nil %>
			<div class="author deja-condensed float-right">BY <span class="blue-text"><%= link_to post.user.dj_name.upcase, post.user, :class => "blue-text" %></span></div>
			<div class="content dejavu-book float-left">
				<!--<%= raw post.body.bbcode_to_html({}, false) %> -->
				<%= raw post.body.gsub(/\n/, '<br/>').bbcode_to_html({}, false) %>
			</div>
			<%end%>
		</div>
		<% if post.content_type_id == 1 %>
			<div class="footer indianred">
			
		<% elsif post.content_type_id == 3 %>
			<div class="footer paleviolet">
			
		<% elsif post.content_type_id == 2 %>
			<div class="footer blue">
				
		<% elsif post.content_type_id == 4 %>
			<div class="footer sandy">
			
		<% end %>			
		<div id="view-comments" class="float-left dejavu-condensed white-text"><a href="<%= url_for(:action => 'show', :id => post.id, :anchor => "comments") %>" class="white-text">View Comments</a></div>
			<div id="share" class="share float-right">
				<div class="text dejavu-condensed float-left white-text">SHARE</div>
				<div class="float-right icons">
				<!-- REGARDING FACEBOOK %2F stands for / and w -->
					<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fkpsu.org<%= url_for(post) %>&amp;layout=button_count&amp;show_faces=true&amp;width=40&amp;action=like&amp;font=segoe+ui&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:80px; height:21px;" allowTransparency="true">
					</iframe>

					<a href="http://twitter.com/share/?url=http://kpsu.org<%= url_for(post) %>" class="twitter-share-button" data-count="horizontal" data-via="KPSU_PDX" data-text="<%= post.title %>: ">
						Tweet
					</a>
					<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
				</div>
			</div>
		</div>
	</div>
	<% end %>
	</div>

<% content_for :page_js do %>
var blogPageless = $("#post-wrapper");
if (blogPageless){
var pagelessPage = 1
$('#post-wrapper').pageless({ totalPages: <%= @posts.total_pages %>,
	currentPage: pagelessPage, 
	url: '/posts/pageless', 
	loaderMsg: 'Loading more results',
	complete: function(){
		pagelessPage++
	}
 });}
<% end %>
