<div class="banner-topblock-menu float-left red-font padding-sm inbetween"	style="cursor:pointer;letter-spacing:-1px;"><a href="/">HOME</a></div>
<div class="banner-topblock-menu float-left red-font padding-sm inbetween"	style="cursor:pointer;letter-spacing:-1px;"><%= link_to("ARCHIVES", archives_path)%></div>
<div class="banner-topblock-menu float-left red-font padding-sm inbetween"	style="cursor:pointer;letter-spacing:-1px;"><%= link_to("LISTEN", listen_path)%></div>
<div class="banner-topblock-menu float-left red-font padding-sm inbetween"	style="cursor:pointer;letter-spacing:-1px;"><%= link_to("DJS", users_path) %></a></div>
<div class="banner-topblock-menu float-left red-font padding-sm inbetween"	style="cursor:pointer;letter-spacing:-1px;"><%= link_to("ARTISTS", artists_path) %></a></div>
<div class="banner-topblock-menu float-left red-font padding-sm inbetween"	style="cursor:pointer;letter-spacing:-1px;"><%= link_to("SCHEDULE", schedule_path)%></a></div>
<div class="banner-topblock-menu float-left red-font padding-sm inbetween"	style="cursor:pointer;letter-spacing:-1px;"><%= link_to("MEDIA", media_path) %></a></div>
<div class="banner-topblock-menu float-left red-font padding-sm inbetween"	style="cursor:pointer;letter-spacing:-1px;"><%= link_to("REVIEWS", reviews_path) %></a></div>
<div class="banner-topblock-menu float-left red-font padding-sm inbetween"	style="cursor:pointer;letter-spacing:-1px;"><%= link_to("BLOGS", blogs_path) %></a></div>
<div class="banner-topblock-menu float-left red-font padding-sm inbetween"	style="letter-spacing:-1px;">EVENTS</div>
<div class="banner-topblock-menu float-left red-font padding-sm inbetween"	style="cursor:pointer;letter-spacing:-1px;">
	<%= link_to("ABOUT", about_path )%>
</div>