<!--style type="text/css" media="screen">
	.generic-sidebar {
		float:left;
		width:264px;
		min-height:200px;
		text-align:right;
		margin-bottom:50px;
	}
	.sidebar-happenings {
		float:left;
		text-align:right;
		clear:both;
	}
	.generic-sidebar .events {
		background-image:url('/images/v3/sidebar-sprite.png');
		height:75px;
		background-position:0 0;
		width:100%;
		margin-top:10px;
	}
</style>
<div class="generic-sidebar">
	<div class="float-left sidebar-happenings-wrapper">
	<% Happening.where("ends_at > ?", Time.zone.now).limit(4).reverse.each do |event| %>
	<div class="sidebar-happenings" style="width:100%;">
		<div class="float-left bebas magenta-text" style="width:100%;"><%= event.title %></div>
		<div class="float-left dejavu-condensed ten-pt blue-text" style="width:100%;"><%= event.starts_at.to_s(:time_and_date) %></div>
		<div class="float-left ten-pt white-text clear-both dejavu-condensed" style="width:100%;" ><%= event.description %></div>
	</div>
	<% end %>
	</div>
	<div class="events float-left"></div>
	<ul class="vertical green-text dejavu-condensed">
		<% Download.where("user_id != ?", "nil").includes(:program).order("created_at DESC").limit(10).each do |d| %>
		<% if d.program %>
		<li><a class="ten-pt yellow-text dejavu-condensed" href="<%= url_for(download_path(:id => d.id)) %>"><%= d.program.title %> (<%= Time.zone.at(d.title.to_i).strftime("%d\.%b\.%Y")%>)</a></li>
		<% end %>
		<% end %>
	</ul>
</div-->

<div id="sidebar" class="container float-right" style="float:left;margin-right:0px;">
	<section class="ac-container">
		<div>
			<input id="ac-1" name="accordion-1" type="checkbox" />
			<label for="ac-1" style="background-image:url('/images/v3/sidebar-sprite.png');height:75px;background-position:0 0;"></label>
			<article class="ac-small">
				<p>
				<ul class="vertical green-text dejavu-condensed">
					<% Download.where("user_id != ?", "nil").includes(:program).order("created_at DESC").limit(10).each do |d| %>
					<% if d.program %>
					<li><a class="ten-pt green-text dejavu-condensed" style="font-size:16px;margin-right:20px;" href="<%= url_for(download_path(:id => d.id)) %>"><%= d.program.title %> (<%= Time.zone.at(d.title.to_i).strftime("%d\.%b\.%Y")%>)</a></li>
					<% end %>
					<% end %>
				</ul>
				</p>
			</article>
		</div>

				<div>
					<input id="ac-2" name="accordion-1" type="checkbox" />
					<label for="ac-2" style="background-image:url('/images/v3/sidebar-sprite.png');height:75px;background-position:0 323px;"></label>
					<article class="ac-small">
						<p><ul class="vertical magenta-text chunk-five" style="margin-right:20px;">
							<% @rev=Review.order("created_at DESC").limit(5) %>
							<% @rev.each do |review| %>
							<li><%= link_to "#{truncate review.title, :length => 22}", review, :class => "magenta-text" %></li>
							<% end %>
				
						</ul></p>
					</article>
				</div>

		<div>
			<input id="ac-3" name="accordion-1" type="checkbox" />
			<label for="ac-3" style="background-image:url('/images/v3/sidebar-sprite.png');height:72px;background-position:0 240px;"></label>
			<article class="ac-large">
				<p><ul class="vertical orange-text chunk-five" style="float;left;margin-right:20px;">
		<li><a class='orange-text' href='http://twitter.com/#!/KPSU_PDX'>Twitter</a>&nbsp;&nbsp;&nbsp;<a href='http://www.facebook.com/pages/KPSU/131711936862193' class='orange-text'>Facebook</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href='http://www.flickr.com/photos/kpsu' class='orange-text'>Flickr</a></li>
		<li>Ben: <a class='green-text' href='http://www.facebook.com/BallotResult/app_197602066931325'>FB</a> | <a class='magenta-text' href='http://www.twitter.com/ballotresult'>Twitter</a>
		<li>Buddytime: <a class='green-text' href='http://www.facebook.com/pages/DJ-Buddytime-Audio-Cuddle-Puddle'>FB</a> | <a class='magenta-text' href='http://www.twitter.com/djbuddytime'>Twitter</a></li>
		<li>Crouton Bombay: <a class='green-text' href='http://facebook.com/croutonbombay'>FB</a> | <a class='magenta-text' href='https://twitter.com/CROUTONBOMBAY'>Twitter</a></li>
		<li>Dirty Mollie: <a class='green-text' href='http://www.facebook.com/dirtymollie'>FB</a> | <a class='magenta-text' href='http://www.twitter.com/dirtymollie'>Twitter</a></li>
		<li>Ian: <a class='green-text' href='https://www.facebook.com/pages/Ians-Hour-of-Musical-Power-on-KPSU/160049997360775?ref=hl'>FB</a> | <a class='magenta-text' href='http://twitter.com/ianshourofmusic'>Twitter</a></li>
		<li>Jake: <a class='green-text' href='http://facebook.com/jakeontheradio'>FB</a> | <a class='magenta-text' href='http://twitter.com/#!/JakeSauvageau'>Twitter</a></li>
		<li>Jaycation: <a class='magenta-text' href='http://twitter.com/#!/jaycation'>Twitter</a></li>
		<li>JC Craze: <a class='green-text' href='http://www.facebook.com/TheCrazeTrain'>FB</a> | <a class='magenta-text' href='https://twitter.com/DJ_jc_Craze'>Twitter</a></li>
		<li>Keegan: <a class='green-text' href='https://www.facebook.com/MANTERBANTERKPSU'>FB</a> | <a class='magenta-text' href='https://twitter.com/MANTERBANTER'>Twitter</a></li>
		<li>Matt Black: <a class='green-text' href='http://facebook.com/walkofshameradio'>FB</a> | <a class='magenta-text' href='http://www.twitter.com/walkofshamefm'>Twitter</a></li>
		<li>Matt Nelkin: <a class='green-text' href='http://facebook.com/liquidbeat'>FB</a> | <a class='magenta-text' href='http://twitter.com/#!/liquidbeat'>Twitter</a></li>
		<li>Meguno: <a class='green-text' href='http://www.facebook.com/pages/2-Stupid-People/116573238458715?fref=ts'>FB</a> | <a class='magenta-text' href='https://twitter.com/2StupidPeople'>Twitter</a></li>
		<li>Miss Rikki: <a class='green-text' href='http://www.facebook.com/closetradio'>FB</a> | <a class='magenta-text' href='http://www.twitter.com/closetradio'>Twitter</a></li>
		<li>Pep: <a class='green-text' href='http://kpsu.org/programs/let%27s_build_a_forte'>KPSU</a> | <a class='magenta-text' href='https://twitter.com/letsbuildaforte'>Twitter</a></li>
		<li>Perspectacle: <a class='green-text' href='http://facebook.com/thesweetskpsu'>FB</a> | <a class='magenta-text' href='http://twitter.com/thesweetskpsu'>Twitter</a></li>
		<li>Peter: <a class='green-text' href='http://www.facebook.com/pages/Between-The-Eyes-on-KPSUorg/259181877832?fref=ts'>FB</a> | <a class='magenta-text' href='http://twitter.com/#!/petersampson'>Twitter</a></li>
		<li>Ricardo Wang: <a class='green-text' href='http://www.facebook.com/whatsthiscalled'>FB</a> | <a class='magenta-text' href='http://twitter.com/WhatsThisCalled'>Twitter</a></li>
		<li>Shaun: <a class='green-text' href='http://www.facebook.com/TheContinuumKPSU'>FB</a></li>
		<li>Skutta: <a class='green-text' href='https://www.facebook.com/DJskutta'>FB</a> | <a class='magenta-text' href='https://twitter.com/DJskutta'>Twitter</a></li>
		<li>Tara Kay: <a class='green-text' href='http://www.facebook.com/pages/Faculty-Fridays/270015543099810?fref=ts'>FB</a></li>
		<li>Victrola: <a class='green-text' href='https://www.facebook.com/guitarshopradio?fref=ts'>FB</a></li>
		<li>ZFission: <a class='green-text' href='http://www.facebook.com/TheMeanGlean'>FB</a> | <a class='magenta-text' href='http://www.twitter.com/#!/the_mean_glean'>Twitter</a></li>
	</ul> </p>
			</article>
		</div>
		<div>
			<input id="ac-4" name="accordion-1" type="checkbox" />
			<label for="ac-4" style="background-image:url('/images/v3/sidebar-sprite.png');height:74px;background-position:0 176px;"></label>
			<article class="ac-medium">
				<p><ul style="vertical yellow-text st-marie" style="margin-right:20px;">
		<li style="margin-left:10px;"><a  class="yellow-text st-marie" href="http://www.wweek.com"><b>Willamette Week</b></a></li>
		<li style="margin-left:10px;"><a  class="yellow-text st-marie" href="http://www.lagunitas.com/"><b>Lagunitas Brewing</b></a></li>
		<li style="margin-left:10px;"><a  class="yellow-text st-marie" href="http://www.portlandfarmersmarket.org/markets/psu/"><b>PSU Farmers Market</b></a></li>
		<li style="margin-left:10px;"><a  class="yellow-text st-marie" href="http://psu.tv/"><b>PSU TV</b></a></li>
		<li style="margin-left:10px;"><a  class="yellow-text st-marie" href="http://wwhttp://www.portlandfarmersmarket.org/markets/psu/w.spotmagazine.net/"><b>Spot Magazine</b></a></li>
		<li style="margin-left:10px;"><a  class="yellow-text st-marie" href="http://www.liquidbeatrecords.com"><b>Liquid Beat Records</b></a></li>
		<li style="margin-left:10px;"><a  class="yellow-text st-marie" href="http://www.facebook.com/pages/Food-for-Thought-Cafe/147701107092"><b>Food For Thought Cafe</b></a></li>
		<li style="margin-left:10px;"><a  class="yellow-text st-marie" href="http://www.abovethepearl.com"><b>Above the Pearl Tattoo</b></a></li>
		<li style="margin-left:10px;"><a  class="yellow-text st-marie" href="/underwriting"><b>Support KPSU!</b></a></li>
	</ul> </p>
			</article>
		</div>
	</section>
</div>