<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
	"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	
  <%= render :partial => 'layouts/meta' %>

  <title>KPSU | <%= yield(:title) %></title>
  <!-- removed goes here -->
    <%= stylesheet_link_tag "production.alt.css", :cache => "v3_alt_css" %>
  <%= javascript_include_tag 'production.alt.js', :cache => "v3_alt_js" %>
  <% if current_user %>
  	<script type="text/javascript" charset="utf-8">

	var juggernaut = new Juggernaut();
	
	juggernaut.subscribe("<%= current_user.chatroom_id %>", function(data){
		
		data = $.parseJSON(data);
		
		var recipientChatroomId = data['recipient-chat-id'];
		var senderChatroomId = data['sender-chat-id']
		var chatParams = {
			userChatId: "<%= current_user.chatroom_id %>",
			nameColor : chatNameColor,
			recipient_chat_id : recipientChatroomId,
			sender_chat_id : senderChatroomId			
		}
		
		/* 	
			var chatExists:
			this looks weird, but makes sense...
			
			When the current_user loads the page, and propagates 
			the 'who-is-online' list, those users are the 
			recipients of the current_user's messages so 
			this is check to see if the person sending the message 
			is a recipient of messages from the current_user
			
		*/

		var chatExists = $("#recipient-chat-"+chatParams.sender_chat_id);
		if(chatExists.length > 0){
			
		}else{
			$("#chat-wrapper").append(newChat(chatParams));
		}
		
		displayChatMessage(data);
		
		
		if(chatParams.sender_chat_id == chatParams.userChatId){
			var chat = $("#recipient-chat-"+chatParams.recipient_chat_id);
			var chatStr = "#recipient-chat-"+chatParams.recipient_chat_id;
		}else if(chatParams.recipient_chat_id == chatParams.userChatId){
			var chat = $("#recipient-chat-"+chatParams.sender_chat_id);
			var chatStr = "#recipient-chat-"+chatParams.sender_chat_id;
		}
		
		var msgContainer = $(chatStr+" .messages-container")
		var msgPaneVis = $(chatStr+" .messages-container .scrollbar-pane:visible");
		if(msgPaneVis.length > 0){
			console.log(msgPaneVis.length);
			$(msgContainer).attr('data-chat-loaded', true);
			$(msgContainer).scrollbar('repaint');
			$(msgContainer).scrollbar("scrollto", "bottom");
			$(msgContainer).delay(1000).scrollbar('repaint');
			$(msgContainer).scrollbar("scrollto", "bottom");
			
		}

		var msgWrapperData = $(msgContainer).attr("data-chat-loaded");
		if(msgWrapperData == "true"){
			
		}else{
			$(msgContainer).scrollbar({containerHeight: 219});
		}
		
	});
	</script>
  <% end %>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-44967474-1']);
	  _gaq.push(['_setDomainName', 'kpsu.org']);
	  _gaq.push(['_setAllowLinker', true]);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</head>
<body>
	<div class= "content-holder">
		<div class = "banner-box">
		<div class = "control-banner-box">

			<div class = "banner-content-box">
				<a href = "/" class = "home-box"> </a>	
				<a id="facebook-link" href="http://www.facebook.com/KPSUPORTLAND"></a>
				<a id="twitter-link" href="https://twitter.com/KPSU_PDX"></a>
				<a id="instagram-link" href="https://instagram.com/KPSU_PDX#"></a>
			</div>

			<div class = "banner-link-box">
				<a href = "/schedule" class = "link-holder"> Schedule </a>
				<a class = "link-holder"> - </a>
				<a href = "/podcasts" class = "link-holder"> Podcasts </a>
				<a class = "link-holder"> - </a>
				<a href = "/programs/all" class = "link-holder"> Programs </a>
				<a class = "link-holder"> - </a>
				<a href = "/djs" class = "link-holder"> DJs </a>
				<a class = "link-holder"> - </a>
				<a href = "https://commerce.cashnet.com/kpsu" class = "link-holder"> Merchandise </a>
				<a class = "link-holder"> - </a>
				<a href = "https://www.foundation.pdx.edu/publicgift/kpsu.jsp" class = "link-holder">Donate</a>
				<a class = "link-holder"> - </a>
				<a href = "/about" class = "link-holder"> About </a>
				<a class = "link-holder"> - </a>
				<a href = "/contact" class = "link-holder"> Contact </a>
				<a class = "link-holder"> - </a>
				<% unless current_user %>
					<a class="link-holder" href="/login">Login</a>
				<% else %>
					<a class="link-holder" href="/dashboard">Dashboard</a>
				<% end %>
			</div>
		</div>
	</div>		
		<div style= "margin-left:0px">

			<%= yield %>
		</div>
	</div>

	
	


	<script type="text/javascript" charset="utf-8">
		$(document).ready(function(){
				$("#hidden-player").jPlayer( {
				  ready: function () {
				    $(this).jPlayer("setMedia", {
				          mp3: "http://stream.kpsu.org:8080/listen"
				    }).jPlayer("stop");
				  },
				  ended: function (event) {			
					$(this).jPlayer("play");		
				  },
				  supplied: "mp3",
				  swfPath: "/players/v3/",
				  volume: 0.8
				});	
				function showStopBtn()
				{
					$(".play").fadeOut(function(){
						$(".stop").fadeIn();
					});
				}

				function showPlayBtn()
				{
					$(".stop").fadeOut(function(){
						$(".play").fadeIn();
					});
				}

				$(".play").click(function() {
					$("#hidden-player").jPlayer("play");
					showStopBtn();
					return false;
				});		

				$(".stop").click(function() {
					$("#hidden-player").jPlayer("stop");
					showPlayBtn();
					return false;
				});
				$(".indicator").draggable({
					axis: "x", 
					containment: "parent" });
				$(".indicator").bind("dragstart", function(){
					var offset = $(this).offset().left;
					console.log("Initial Offset:")
					console.log(offset)
					$(this).attr("data-start-offset", offset)	
				});
				$(".indicator").bind("dragstop", function(){
					var offset = $(this).offset().left;
					var parOffset = $(".volume-bar").offset().left + $(".volume-bar").outerWidth() - 18;
					var diff = (parOffset - offset);
					var vol = ((86 - diff*1.25) / 100)

					console.log("ending Offset:")
					console.log(offset)
					console.log("Volume:")
					console.log(vol)
					$("#hidden-player").jPlayer("volume", vol);
				});
			
				<%= yield(:page_js) %>
				
		});
	</script>
	<script type="text/javascript">


	</script>
</body>
</html>
