<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
	"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <%= render :partial => 'layouts/meta' %>

  <title>KPSU | <%= yield(:title) %></title>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag "production.alt.css", :cache => true %>
  <%= javascript_include_tag 'production.alt.js', :cache => true %>
	
  <!-- if RAILS_ENV == "development"
  	<script src="http://localhost:8080/application.js" type="text/javascript" charset="utf-8"></script>
        endtag here-->

  <script type="text/javascript" src="http://api.recaptcha.net/js/recaptcha_ajax.js"></script>
  <script type="text/javascript">var RecaptchaOptions = {"theme":"clean"};</script>
  <script type="text/javascript" src="/javascripts/modernizr.custom.29473.js"></script>

	<script type="text/javascript">

		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-44967474-1']);
		_gaq.push(['_setDomainName', 'kpsu.org']);
		_gaq.push(['_setAllowLinker', true]);
		_gaq.push(['_trackPageview']);

		(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();

	</script>

			<div id="fb-root"><script>(function(d, s, id) {
			  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) return;
			  js = d.createElement(s); js.id = id;
			  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
			  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));</script></div>

</head>
<body><!--
	<div style="padding:20px 20px 20px 0px;">
		<%= form_for :download, :url => archive_search_path, :method => :get, :html => {:style => "margin:0 0 0 58px;"} do |c| %>
			<span class="bebas sixteen-pt purple-text">Program</span> <%= c.text_field :program %>
			<span class="bebas sixteen-pt purple-text">DJ</span> <%= c.text_field :dj %>
			<%= c.submit 'Search' %>
		<% end %>
	</div>
	-->
	<div class = "banner-box">
		<div class = "control-banner-box">
 			
			<!--<div  style = "height:auto; width:auto; position:absolute; margin-top:-30px; margin-left:240px; background-color:white;">
			<a href="/ampkpsu">
				<img src="/AMP-KPSU-Website-Banner.png"></a>
                                </div>-->
                        <div class = "banner-content-box">
                            <a href = "/" class = "home-box"></a>
			    <a id="song-of-the-day-link" href="http://itunes.apple.com/us/podcast/kpsu-song-of-the-day-podcast/id878736550"></a>
			    <a id="tumblr-link" href="http://kpsupdx.tumblr.com"></a>
			    <a id="facebook-link" href="http://www.facebook.com/KPSUPORTLAND"></a>
                            <a id="twitter-link" href="https://twitter.com/KPSU_PDX"></a>
                            <a id="instagram-link" href="https://instagram.com/kpsu_radio"></a>
                            <!--<a id="tumblr-link" href="https://kpsupdx.tumblr.com/"></a>-->
	
                        <div>

			<div class = "banner-link-box">
				<a href = "/schedule" class = "link-holder"> Schedule </a>
				<a class = "link-holder"> - </a>
				<a href = "/podcasts" class = "link-holder"> Podcasts </a>
				<a class = "link-holder"> - </a>
				<a href = "/programs/all" class = "link-holder"> Programs </a>
				<a class = "link-holder"> - </a>
				<a href = "/djs" class = "link-holder"> DJs </a>
				<a class = "link-holder"> - </a>
				<a href = "https://commerce.cashnet.com/kpsu" class = "link-holder"> Merchandise </a>
				<a class = "link-holder"> - </a>
				<a href = "https://www.foundation.pdx.edu/publicgift/kpsu.jsp" class = "link-holder">Donate</a>
				<a class = "link-holder"> - </a>
				<a href = "/about" class = "link-holder"> About </a>
				<a class = "link-holder"> - </a>
				<a href = "/contact" class = "link-holder"> Contact </a>
				<a class = "link-holder"> - </a>
				<% unless current_user %>
					<a class="link-holder" href="/login">Login</a>
				<% else %>
					<a class="link-holder" href="/dashboard">Dashboard</a>
				<% end %>
			</div>
		</div>-->
	</div>	

		

	<div class =  "content-holder">
		<div class = "post-holder">
			<% @post_app.each do |post| %>
				
				<div class = "post-box">
					<div class = "post-title-box">
						
						<a class = "title-text"> <%= link_to(truncate(post.title,:length =>40), post, :class => "title-text") %> </a>
					</div>
						<p class = "body-text">
					
							<% b = strip_tags(post.body) %> 
							<% b.gsub!("&ldquo;","") if b.include? "&ldquo;" %>
							<% b.gsub!("&rsquo;","") if b.include? "&rsquo;" %>
							<% b.gsub!("&rdquo;","") if b.include? "&rdquo;" %>
							<% b.gsub!("&nbsp;","") if b.include? "&nbsp;" %>
							<% b.gsub!("&#39;","") if b.include? "&#39;" %>
							<% b.gsub!("&quot;","") if b.include? "&quot;" %>
							<% b = b.bbcode_to_html %>

							<%=  strip_tags(truncate(strip_tags(b).html_safe,:length =>280).gsub("\n"," ").gsub("HTML Generator Sample Page","")).html_safe %>
						
							
							
				</div>
			<% end %>

			<div class = "paginate-holder">
				<%= will_paginate @post_app, :style => "color:red; margin-left:50px;" %>
			</div>
		</div>

		<div class = "widget-holder">

			<div class = "player-box">

				<div id = "on-air-dj">
					<% unless currently_playing.class == String %>
						<span class = "on-air-dj-dynamic" style = ""><%= currently_playing[2] %></span>
					<% else %>
						<span class = "on-air-dj-dynamic" style = "">Portland's College Radio</span>
					<% end %>
				</div>

				<div id="on-air-program">
					<% unless currently_playing.class == String %>
						<span class = "on-air-dj-text" style = "margin-top:-4px">	<%= link_to(currently_playing[0], program_path(currently_playing[1])) %> </span>
					<% else %>
						<span class="on-air-dj-text" style = "margin-top:-4px">KPSU</span>
					<% end %>
				</div>


				<div id="on-next">
					<% unless up_next.class == String %>
						<%= link_to(up_next[0], program_path(up_next[1]), :class => "up-next-text") %>
					<% else %>
						<span class="up-next-text">"We're on Auto-Pilot!"</span>
					<% end %>
				</div>	

				<div id="hidden-player" style="width:0px;height:0px;"></div>

				<div class="play pointer player-buttons"></div>
				<div class="stop pointer stop-button"></div>
				<span class="pop-box"  href = "/twopointoh/open_in_new_window.png" onclick="window.open('/popup_player', 'asdas', 'toolbars=0,width=390,height=150,scrollbars=0,resizable=0,menubar=0directories=no,titlebar=no','status=0');" value="Open the window" style = "cursor:pointer; cursor:hand;">
				</span>
			</div>
	<!--Donation banner for amp kpsu donation removed 5/4/14 Sean DeBellis	
			<div style="padding:5px; background-color:white;  margin-left:70px; margin-bottom:30px;">
				<a href = "/pledge">
					<img src="Donation-Banner.png" style="margin-left:2px; margin-bottom:2px;" />
				</a>
                            </div>
-->
                            

			<div class = "twitter-box">
				<a class="twitter-timeline" href="https://twitter.com/KPSU_PDX" data-widget-id="388561410478731264">Tweets by @KPSU_PDX</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
				</script>
			</div>

			<!--<div class = "facebook-box">
				<div class="fb-like-box" data-href="https://www.facebook.com/KPSUPORTLAND" data-width="350" data-height="580" data-colorscheme="light" data-show-faces="false" data-header="false" data-stream="true" data-show-border="false">
				</div>
			</div>	-->

	
		</div>

	</div>




	































	<script type="text/javascript" charset="utf-8">

		

		$(document).ready(function(){
		
		$("#login-nav-button").click(function(){
			$("#login").dialog({
				position: [849, 74]
			});
		});

		$("#hidden-player").jPlayer( {
		  ready: function () {
		    $(this).jPlayer("setMedia", {
		          mp3: "http://stream.kpsu.org:8080/listen",
				  solution: "flash, html",
		    }).jPlayer("stop");
		  },
		  ended: function (event) {			
			$(this).jPlayer("play");		
		  },
		  supplied: "mp3",
		  swfPath: "/players/v3/",
		  volume: 0.8
		});	
		
		function showStopBtn()
		{
			$(".play").fadeOut(function(){
				$(".stop").fadeIn();
			});
		}
		
		function showPlayBtn()
		{
			$(".stop").fadeOut(function(){
				$(".play").fadeIn();
			});
		}
		
		$(".play").click(function() {
			$("#hidden-player").jPlayer("play");
			showStopBtn();
			return false;
		});		
		
		$(".stop").click(function() {
			$("#hidden-player").jPlayer("stop");
			showPlayBtn();
			return false;
		});
		$(".indicator").draggable({
			axis: "x", 
			containment: "parent" });
		$(".indicator").bind("dragstart", function(){
			var offset = $(this).offset().left;
			console.log("Initial Offset:")
			console.log(offset)
			$(this).attr("data-start-offset", offset)	
		});
		$(".indicator").bind("dragstop", function(){
			var offset = $(this).offset().left;
			var parOffset = $(".volume-bar").offset().left + $(".volume-bar").outerWidth() - 18;
			var diff = (parOffset - offset);
			// 100 is the maximum
			// 80 is the width
			// volume increment: 1.25 = 100/80
			// volume increment = volMax / diff
			var vol = .8//((100 - diff*1.25) / 100)

			console.log("ending Offset:")
			console.log(offset)
			console.log("Volume:")
			console.log(vol)
			$("#hidden-player").jPlayer("volume", vol);
		});
		var loadTwitter = function(json){
			$.each(json.statuses, function(i, tweet){
				if ( i <= 2 ) {
				$("#tweets").append("<div class=\"dejavu-book\" style=\"clear:both;width:290px;margin:5px auto 10px auto;line-height:1em;\"><div style=\"word-wrap: break-word;padding:3px;height:auto;font-size:10pt;\">"+tweet['text']+"</div><div style=\"text-align:right;margin-top:5px;\">from <em>"+tweet.user['name']+"</em></div></div>");
				}
				
			});
		}
		var loading = "<div style='margin:303px auto 0 auto;text-align:center;font-size:14pt;'><span class=''>Loading Tweets...</span><br/></div>"

		$.ajax({
			url: "/kpsu_twitter",
			dataType: "text",
            type: "GET",
            beforeSend: function (xhr) {
				$("#tweets").html(loading)
            },
            success: function (text) {
				$("#tweets").html("");
				json = eval("(" + text + ")");
   				loadTwitter(json);
            },
            complete: function (xhr) {

            },
            error: function (xhr, status, error) {
            }
		});

	});

	$('.post-photos a').lightBox({fixedNavigation:true});
		
		<%= yield(:page_js) %>
		</script>
</body>
</html>
