<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
	"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <%= render :partial => 'layouts/meta' %>

  <title>KPSU | <%= yield(:title) %></title>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag "production.alt.css", :cache => true %>
  <%= javascript_include_tag 'production.alt.js', :cache => true %>
	
  <% if RAILS_ENV == "development" %>
  	<script src="http://localhost:8080/application.js" type="text/javascript" charset="utf-8"></script>
  <% end %>

  <script type="text/javascript" src="http://api.recaptcha.net/js/recaptcha_ajax.js"></script>
  <script type="text/javascript">var RecaptchaOptions = {"theme":"clean"};</script>
  <script type="text/javascript" src="/javascripts/modernizr.custom.29473.js"></script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-20622260-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>



<!--Rotating blocks - experimental -->

<!--script src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js'></script-->

<!-- 
	Thought of using jQuery UI's .addClass transitions as fallback (or primary) but doesn't work as well
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script> 
-->


</head>
<body>
	<div id="content-wrapper">
						
		<div id="alt-nav" class="chunk-five yellow-text sixteen-pt">
			<ul class="vertical yellow-text chunk-five">
			<% if current_user && current_user.listener == false %>
			<li class="vertical chunk-five"><%= link_to("dashboard", dashboard_path, :class => "yellow-text") %></li>
			<% elsif current_user && current_user.listener == true %>
			<li class="vertical chunk-five"><%= link_to("home", listener_path, :class => "yellow-text") %></li>
			<% end %>
			<li class="vertical yellow-text chunk-five"><a class="yellow-text" href="https://www.foundation.pdx.edu/publicgift/kpsu.jsp">donate</a></li>
			<li class="vertical chunk-five"><a class="yellow-text" href="/programs/all">programs</a></li>
			<li class="vertical chunk-five"><a class="yellow-text" href="/underwriting">underwriting</a></li>
			<li class="vertical chunk-five"><a class="yellow-text" href="/contact">contact</a></li>
			<li class="vertical chunk-five"><a class="yellow-text" href="/about">about</a></li>
			<% unless current_user %>
			<li class="vertical chunk-five"><a class="yellow-text" href="/login">login</a></li>
			<% else %>
			<li class="vertical chunk-five"><a class="yellow-text" href="/logout">logout</a></li>
			<% end %>
			</ul>
		</div>
		<div id="mini-banner"> 
			<img src="/images/v3/mini-banner.png" usemap="#mini-bannermap" style="position: absolute;clip: rect(0px 619px 301px 196px);">
			<map id="mini-bannermap" name="mini-bannermap"><area shape="poly" alt="Download Podcasts from our program archive" title="" coords="362,237,365,253,488,222,471,206,423,220" href="/archives" target="" /><area shape="poly" alt="Our live streaming schedule" title="" coords="494,213,492,223,582,194,575,179" href="/schedule" target="" /><area shape="poly" alt="View KPSU's DJs" title="" coords="418,270,488,252,485,235,406,247" href="/djs" target="" /><area shape="poly" alt="Our Artist Database" title="" coords="409,279,499,261,493,282,409,294,408,286" href="/artists" target="" /><area shape="poly" alt="Listen to KPSU!" title="" coords="499,237,587,209,587,231,497,249" href="/listen" target="" /><area shape="poly" alt="Check out the latest music and event reviews!" title="" coords="502,260,511,271,591,262,586,239" href="/reviews" target="" /><area shape="poly" alt="KPSU Home Page" title="" coords="323,185,333,235,613,167,592,114" href="/" target="" /><!-- Created by Online Image Map Editor (http://www.maschek.hu/imagemap/index) --></map>
			<div id="on-air-offset">
			<% cache('alternative_who_is_playing') do %>
			<div id="on-air-program" class="m1-light yellow-text">
				<% unless currently_playing.class == String %>
					<%= link_to(currently_playing[0], program_path(currently_playing[1]), :class => "m1-light yellow-text", :style => "line-height: 15px;") %>
				<% else %>
					<span class="m1-light yellow-text">KPSU</span>
				<% end %>
			</div>
			<div id="on-air-dj" class="m1-light purple-text">
				<% unless currently_playing.class == String %>
					<span class="m1-light purple-text"><%= currently_playing[2] %></span>
				<% else %>
					<span class="m1-light purple-text">Portland's College Radio</span>
				<% end %>
			</div>
			<div id="hidden-player" style="width:0px;height:0px;"></div>
			<div id="player" class="float-left">
				<div id="player_interface">
					<div class="volume-bar">
						<div class="indicator pointer player-buttons"></div>
						<div class="volume-bar-value player-buttons"></div>
					</div>
					<div class="volume-text">
						<div class="quiet">quiet</div>
						<div class="loud">loud</div>
					</div>
					<div class="play pointer player-buttons"></div>
					<div class="stop pointer player-buttons"></div>
				</div>
			</div>
			<div id="on-next">
				<% unless up_next.class == String %>
					<%= link_to(up_next[0], program_path(up_next[1]), :class => "m1-light red-text") %>
				<% else %>
					<span class="m1-light red-text">"We're on Auto-Pilot!"</span>
				<% end %>
			</div>	
			<% end %>		
			</div>
		</div>
		<div id="page-headline">
			<%= yield(:page_headline) %>
		</div>
		

		<div id="rotator">
		
			<div id="block-1" class="active" style="padding:0px;">
				<span id="block1switch" onclick="Block1ToVideo();Block2ToImage();Block3ToImage()">
				<div style="margin-left:20px;padding:0px;height:40px;font-size:1.8em" class="bebas post-type">GET  INVOLVED  AT  KPSU</div><div style="padding:20px;"><iframe width="560" height="315" src="http://www.youtube.com/embed/xIaLhxJj6Ak" frameborder="0" allowfullscreen mozallowfullscreen></iframe></div>
				</span>
			</div>
			
			<div id="block-2" class="non-active-top">
				<span id="block2switch" onclick="Block1ToImage();Block2ToContent();Block3ToImage()">
				<div>
					<img src="images/v3/jay_image.jpg">
				</div>
				</span>			
			</div>
			
			<div id="block-3" class="non-active-bottom">
				<span id="block3switch" onclick="Block1ToImage();Block2ToImage();Block3ToContent()">
				<div style="background-color:#171717;"><img src="images/v3/outsidelands.png" style="width:370px;height:187.5px;" /></div>
				</span>			
			</div>
		
		</div>
	

	

		<!--div id="kpsu-kruise-video">
			<div id="kruise-header" style="width: 968px; height:217px;"><img src="/images/v3/kpsu_kruise_header.jpg" /></div>
			<div id="kruise-space" style="width:968px; height:10px;"></div>
			<object width="968" height="545"><param name="allowfullscreen" value="true"></param><param name="movie" value="https://www.facebook.com/v/407516359313527"></param><embed src="https://www.facebook.com/v/407516359313527" type="application/x-shockwave-flash" allowfullscreen="1" width="968" height="545"></embed></object>
		</div-->


		<%= yield %>

		<div id="sidebar" class="container float-right">
			<section class="ac-container">
				<div>
					<input id="ac-1" name="accordion-1" type="checkbox" />
					<label for="ac-1" style="background-image:url('/images/v3/sidebar-sprite.png');height:75px;background-position:0 0;"></label>
					<article class="ac-small">
						<p>
						<ul class="vertical green-text dejavu-condensed">
							<% @downloads.each do |d| %>
								<li><a class="green-text dejavu-condensed" href="<%= url_for(download_path(:id => d.id)) %>"><%= d.program.title rescue nil %> (<%= Time.zone.at(d.title.to_i).strftime("%d\.%b\.%Y")%>)</a></li>
							<% end %>
						</ul>
						</p>
					</article>
				</div>
				<div>
					<input id="ac-2" name="accordion-1" type="checkbox" />
					<label for="ac-2" style="background-image:url('/images/v3/sidebar-sprite.png');height:75px;background-position:0 323px;"></label>
					<article class="ac-small">
						<p><ul class="vertical magenta-text chunk-five">
				<% @rev.each do |review| %>
				<li><%= link_to "#{truncate review.title, :length => 22}", review, :class => "magenta-text" %></li>
				<% end %>
				
			</ul></p>
					</article>
				</div>
				<div>
					<input id="ac-3" name="accordion-1" type="checkbox" />
					<label for="ac-3" style="background-image:url('/images/v3/sidebar-sprite.png');height:72px;background-position:0 240px;"></label>
					<article class="ac-large">
						<p><ul class="vertical orange-text chunk-five">
				<li><a class='orange-text' href='http://twitter.com/#!/KPSU_PDX'>Twitter</a>&nbsp;&nbsp;&nbsp;<a href='http://www.facebook.com/pages/KPSU/131711936862193' class='orange-text'>Facebook</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href='http://www.flickr.com/photos/kpsu' class='orange-text'>Flickr</a></li>
				<li>Ben: <a class='green-text' href='http://www.facebook.com/BallotResult/app_197602066931325'>FB</a> | <a class='magenta-text' href='http://www.twitter.com/ballotresult'>Twitter</a>
		<li>Buddytime: <a class='green-text' href='http://www.facebook.com/pages/DJ-Buddytime-Audio-Cuddle-Puddle'>FB</a> | <a class='magenta-text' href='http://www.twitter.com/djbuddytime'>Twitter</a></li>
		<li>Crouton Bombay: <a class='green-text' href='http://facebook.com/croutonbombay'>FB</a> | <a class='magenta-text' href='https://twitter.com/CROUTONBOMBAY'>Twitter</a></li>
		<li>Dirty Mollie: <a class='green-text' href='http://www.facebook.com/dirtymollie'>FB</a> | <a class='magenta-text' href='http://www.twitter.com/dirtymollie'>Twitter</a></li>
		<li>Ian: <a class='green-text' href='https://www.facebook.com/pages/Ians-Hour-of-Musical-Power-on-KPSU/160049997360775?ref=hl'>FB</a> | <a class='magenta-text' href='http://twitter.com/ianshourofmusic'>Twitter</a></li>
		<li>Jake: <a class='green-text' href='http://facebook.com/jakeontheradio'>FB</a> | <a class='magenta-text' href='http://twitter.com/#!/JakeSauvageau'>Twitter</a></li>
		<li>Jaycation: <a class='magenta-text' href='http://twitter.com/#!/jaycation'>Twitter</a></li>
		<li>JC Craze: <a class='green-text' href='http://www.facebook.com/TheCrazeTrain'>FB</a> | <a class='magenta-text' href='https://twitter.com/DJ_jc_Craze'>Twitter</a></li>
		<li>Keegan: <a class='green-text' href='https://www.facebook.com/MANTERBANTERKPSU'>FB</a> | <a class='magenta-text' href='https://twitter.com/MANTERBANTER'>Twitter</a></li>
		<li>Matt Nelkin: <a class='green-text' href='http://facebook.com/liquidbeat'>FB</a> | <a class='magenta-text' href='http://twitter.com/#!/liquidbeat'>Twitter</a></li>
		<li>Meguno: <a class='green-text' href='http://www.facebook.com/pages/2-Stupid-People/116573238458715?fref=ts'>FB</a> | <a class='magenta-text' href='https://twitter.com/2StupidPeople'>Twitter</a></li>
		<li>Miss Rikki: <a class='green-text' href='http://www.facebook.com/closetradio'>FB</a> | <a class='magenta-text' href='http://www.twitter.com/closetradio'>Twitter</a></li>
		<li>Pep: <a class='green-text' href='http://kpsu.org/programs/let%27s_build_a_forte'>KPSU</a> | <a class='magenta-text' href='https://twitter.com/letsbuildaforte'>Twitter</a></li>
		<li>Perspectacle: <a class='green-text' href='http://facebook.com/thesweetskpsu'>FB</a> | <a class='magenta-text' href='http://twitter.com/thesweetskpsu'>Twitter</a></li>
		<li>Peter: <a class='green-text' href='http://www.facebook.com/pages/Between-The-Eyes-on-KPSUorg/259181877832?fref=ts'>FB</a> | <a class='magenta-text' href='http://twitter.com/#!/petersampson'>Twitter</a></li>
		<li>Ricardo Wang: <a class='green-text' href='http://www.facebook.com/whatsthiscalled'>FB</a> | <a class='magenta-text' href='http://twitter.com/WhatsThisCalled'>Twitter</a></li>
		<li>Shaun: <a class='green-text' href='http://www.facebook.com/TheContinuumKPSU'>FB</a></li>
		<li>Skutta: <a class='green-text' href='https://www.facebook.com/DJskutta'>FB</a> | <a class='magenta-text' href='https://twitter.com/DJskutta'>Twitter</a></li>
		<li>Tara Kay: <a class='green-text' href='http://www.facebook.com/pages/Faculty-Fridays/270015543099810?fref=ts'>FB</a></li>
		<li>Victrola: <a class='green-text' href='https://www.facebook.com/guitarshopradio?fref=ts'>FB</a></li>
		<li>Walk of Shame: <a class='green-text' href='http://facebook.com/walkofshameradio'>FB</a> | <a class='magenta-text' href='http://www.twitter.com/walkofshamefm'>Twitter</a></li>
		<li>ZFission: <a class='green-text' href='http://www.facebook.com/TheMeanGlean'>FB</a> | <a class='magenta-text' href='http://www.twitter.com/#!/the_mean_glean'>Twitter</a></li>
			</ul> </p>
					</article>
				</div>
				<div>
					<input id="ac-4" name="accordion-1" type="checkbox" />
					<label for="ac-4" style="background-image:url('/images/v3/sidebar-sprite.png');height:74px;background-position:0 176px;"></label>
					<article class="ac-medium">
						<p><ul style="vertical yellow-text st-marie">
				<li style="margin-left:10px;"><a  class="yellow-text st-marie" href="http://www.wweek.com"><b>Willamette Week</b></a></li>
				<li style="margin-left:10px;"><a  class="yellow-text st-marie" href="http://www.lagunitas.com/"><b>Lagunitas Brewing</b></a></li>
				<li style="margin-left:10px;"><a  class="yellow-text st-marie" href="http://www.portlandfarmersmarket.org/markets/psu/"><b>PSU Farmers Market</b></a></li>
				<li style="margin-left:10px;"><a  class="yellow-text st-marie" href="http://psu.tv/"><b>PSU TV</b></a></li>
				<li style="margin-left:10px;"><a  class="yellow-text st-marie" href="http://wwhttp://www.portlandfarmersmarket.org/markets/psu/w.spotmagazine.net/"><b>Spot Magazine</b></a></li>
				<li style="margin-left:10px;"><a  class="yellow-text st-marie" href="http://www.liquidbeatrecords.com"><b>Liquid Beat Records</b></a></li>
				<li style="margin-left:10px;"><a  class="yellow-text st-marie" href="http://www.facebook.com/pages/Food-for-Thought-Cafe/147701107092"><b>Food For Thought Cafe</b></a></li>
				<li style="margin-left:10px;"><a  class="yellow-text st-marie" href="http://www.abovethepearl.com"><b>Above the Pearl Tattoo</b></a></li>
				<li style="margin-left:10px;"><a  class="yellow-text st-marie" href="/underwriting"><b>Support KPSU!</b></a></li>
			</ul> </p>
					</article>
				</div>
			</section>
		</div>


		<!--div id="sidebar" class="float-right">
			
		
			<div class="sidebar events"></div>
			<ul class="vertical green-text dejavu-condensed">
				<% @downloads.each do |d| %>
				<li><a class="green-text dejavu-condensed" href="<%= url_for(download_path(:id => d.id)) %>"><%= d.program.title rescue nil %> (<%= Time.zone.at(d.title.to_i).strftime("%d\.%b\.%Y")%>)</a></li>
				<% end %>
			</ul>
			<div class="sidebar reviews"></div>
			<ul class="vertical magenta-text chunk-five">
				<% @rev.each do |review| %>
				<li><%= link_to "#{truncate review.title, :length => 22}", review, :class => "magenta-text" %></li>
				<% end %>
				
			</ul>
			
			<div class="sidebar social">
				
			</div>
			<ul class="vertical orange-text chunk-five">
				<li><a class='orange-text' href='http://twitter.com/#!/KPSU_PDX'>Twitter</a>&nbsp;&nbsp;&nbsp;<a href='http://www.facebook.com/pages/KPSU/131711936862193' class='orange-text'>Facebook</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href='http://www.flickr.com/photos/kpsu' class='orange-text'>Flickr</a></li>
			</ul>
			<div class="sidebar support">
				
			</div>
			
		
			<ul style="vertical yellow-text st-marie">
				<li style="margin-left:10px;"><a  class="yellow-text st-marie" href="http://www.wweek.com"><b>Willamette Week</b></a></li>
				<li style="margin-left:10px;"><a  class="yellow-text st-marie" href="http://www.lagunitas.com/"><b>Lagunitas Brewing</b></a></li>
				<li style="margin-left:10px;"><a  class="yellow-text st-marie" href="http://www.portlandfarmersmarket.org/markets/psu/"><b>PSU Farmers Market</b></a></li>
				<li style="margin-left:10px;"><a  class="yellow-text st-marie" href="http://psu.tv/"><b>PSU TV</b></a></li>
				<li style="margin-left:10px;"><a  class="yellow-text st-marie" href="http://wwhttp://www.portlandfarmersmarket.org/markets/psu/w.spotmagazine.net/"><b>Spot Magazine</b></a></li>
				<li style="margin-left:10px;"><a  class="yellow-text st-marie" href="http://www.liquidbeatrecords.com"><b>Liquid Beat Records</b></a></li>
				<li style="margin-left:10px;"><a  class="yellow-text st-marie" href="http://www.facebook.com/pages/Food-for-Thought-Cafe/147701107092"><b>Food For Thought Cafe</b></a></li>
				<li style="margin-left:10px;"><a  class="yellow-text st-marie" href="http://www.abovethepearl.com"><b>Above the Pearl Tattoo</b></a></li>
				<li style="margin-left:10px;"><a  class="yellow-text st-marie" href="/underwriting"><b>Support KPSU!</b></a></li>
			</ul>
			
		</div-->

		<div id="twitter-feed" class="hand-written">
			<div id="tweets">
				
			</div>
		</div>

		
		<div id="login" title="Login" style="display:none;">
			<div class="dejavu-condensed" style="margin:10px;">
				<%= form_for(@user_session) do |f| %>
  				<% if @user_session.errors.any? %>
  				  <div id="error_explanation">
  				    <span><%= pluralize(@user_session.errors.count, "error") %> prohibited this session from being created:</span>
				
  				    <ul>
  				    <% @user_session.errors.full_messages.each do |msg| %>
  				      <li><%= msg %></li>
  				    <% end %>
  				    </ul>
  				  </div>
  				<% end %>
				
  				<div class="field">
  				  <%= f.label :email %><br />
  				  <%= f.text_field :email %>
  				</div>
  				<div class="field">
  				  <%= f.label :password %><br />
  				  <%= f.password_field :password %>
  				</div>
  				<div class="actions">
  				  <%= f.submit "Login" %>
  				</div>
  				<% end %>
				<div class="dejavu-condensed ten-pt float-left" style="margin-top:5px;">Forgot your password? 
				<%= link_to("Click here to reset it", new_password_reset_path, :class => "yellow-text " )%>
				</div>
				<div class="float-left ten-pt clear-both m1-bold" style="margin-bottom:5px;">*Passwords are case sensitive</div>
			</div>
			</div>
		</div>
	


	<script type="text/javascript" charset="utf-8">

		$(function() {
			
				var current;
						
				function rotate() {
				
					// This seems like a sucky way to do it, but you can't select by classes because they execute in order
								
					if (current == 1) {
						$("#block-1").removeClass().addClass("active");
						$("#block-2").removeClass().addClass("non-active-top");
						$("#block-3").removeClass().addClass("non-active-bottom");
					} else if (current == 2) {
						$("#block-1").removeClass().addClass("non-active-bottom");
						$("#block-2").removeClass().addClass("active");
						$("#block-3").removeClass().addClass("non-active-top");
					} else {
						$("#block-1").removeClass().addClass("non-active-top");
						$("#block-2").removeClass().addClass("non-active-bottom");
						$("#block-3").removeClass().addClass("active");
					}
				
				}
				
				$("#rotator div").click(function() {
				
					// Enables reversing, idea via Andrea Canton: https://twitter.com/andreacanton/status/24954634279849985
					current = this.id.substr(6);			
					rotate();
				
				});
		
			});

			function Block1ToVideo(){
				document.getElementById('block1switch').innerHTML='<div style="margin-left:20px;padding:0px;height:40px;font-size:1.8em" class="bebas post-type">GET  INVOLVED  AT  KPSU</div><div style="padding:20px;"><iframe width="560" height="315" src="http://www.youtube.com/embed/xIaLhxJj6Ak" frameborder="0" allowfullscreen mozallowfullscreen></iframe></div>';
			}
			function Block1ToImage(){
				document.getElementById('block1switch').innerHTML='<div><img src="images/v3/recruit.png"></div>';
			}
			function Block2ToImage(){
				document.getElementById('block2switch').innerHTML='<div><img src="images/v3/jay_image.jpg"></div>';
			}
			function Block2ToContent(){
				document.getElementById('block2switch').innerHTML='<div style="margin-left:20px;padding:0px;height:40px;font-size:1.5em" class="bebas post-type">KPSU  PRESENTS...  MONDAYS AT 3PM, WEDNESDAYS AT 6PM</div><div style="padding:20px;text-align:center;width:560px;margin-left:auto;margin-right:auto;"><img src="images/v3/kpsu_presents_background.png" usemap="#kpsu-presents-map" width="560" height="315" /><map id="kpsu-presents-map" name="kpsu-presents-map"><area shape="rect" coords="139,51,425,164" href="http://www.kpsu.org/playlists/vignette-episode-1:-transition" alt="vignette" title="Vignette, Episode 1" /><area shape="rect" coords="40,208,293,290" href="http://www.kpsu.org/playlists/oct_-10:-engineering-show!" alt="engineering" title="Engineering Show" /><area shape="rect" coords="315,193,518,296" href="http://www.kpsu.org/playlists/pdx-sports-report:-oct-17" alt="sports" title="KPSU Sports Report" /></map></div>';
			}

			function Block3ToImage(){
				document.getElementById('block3switch').innerHTML='<div><img src="images/v3/outsidelands.png"></div>';
			}
			function Block3ToContent(){
				document.getElementById('block3switch').innerHTML='<div style="margin-left:20px;padding:0px;height:40px;font-size:1.8em" class="bebas post-type">GET KPSU TO OUTSIDE LANDS - WATCH THIS</div><div style="padding:20px;"><iframe width="560" height="315" src="http://www.youtube.com/embed/rNiequFHrB8" frameborder="0" allowfullscreen mozallowfullscreen></iframe></div>';
			}

		$(document).ready(function(){
		
		$("#login-nav-button").click(function(){
			$("#login").dialog({
				position: [849, 74]
			});
		});

		$("#hidden-player").jPlayer( {
		  ready: function () {
		    $(this).jPlayer("setMedia", {
		          mp3: "http://stream.kpsu.org:8080/listen",
				  solution: "flash, html",
		    }).jPlayer("stop");
		  },
		  ended: function (event) {			
			$(this).jPlayer("play");		
		  },
		  supplied: "mp3",
		  swfPath: "/players/v3/",
		  volume: 0.8
		});	
		
		function showStopBtn()
		{
			$(".play").fadeOut(function(){
				$(".stop").fadeIn();
			});
		}
		
		function showPlayBtn()
		{
			$(".stop").fadeOut(function(){
				$(".play").fadeIn();
			});
		}
		
		$(".play").click(function() {
			$("#hidden-player").jPlayer("play");
			showStopBtn();
			return false;
		});		
		
		$(".stop").click(function() {
			$("#hidden-player").jPlayer("stop");
			showPlayBtn();
			return false;
		});
		$(".indicator").draggable({
			axis: "x", 
			containment: "parent" });
		$(".indicator").bind("dragstart", function(){
			var offset = $(this).offset().left;
			console.log("Initial Offset:")
			console.log(offset)
			$(this).attr("data-start-offset", offset)	
		});
		$(".indicator").bind("dragstop", function(){
			var offset = $(this).offset().left;
			var parOffset = $(".volume-bar").offset().left + $(".volume-bar").outerWidth() - 18;
			var diff = (parOffset - offset);
			// 100 is the maximum
			// 80 is the width
			// volume increment: 1.25 = 100/80
			// volume increment = volMax / diff
			var vol = ((100 - diff*1.25) / 100)

			console.log("ending Offset:")
			console.log(offset)
			console.log("Volume:")
			console.log(vol)
			$("#hidden-player").jPlayer("volume", vol);
		});
		var loadTwitter = function(json){
			$.each(json.results, function(i, tweet){
				if ( i <= 3 ) {
				$("#tweets").append("<div class=\"hand-written\" style=\"clear:both;width:290px;margin:5px auto 10px auto;line-height:1em;\"><div style=\"word-wrap: break-word;padding:3px;height:auto;font-size:14pt;\">"+tweet['text']+"</div><div style=\"text-align:right;margin-top:5px;\">from <em>"+tweet['from_user']+"</em></div></div>");
				}
				
			});
		}
		var loading = "<div style='margin:303px auto 0 auto;text-align:center;font-size:14pt;'><span class=''>Loading Tweets...</span><br/></div>"

		$.ajax({
			url: "/kpsu_twitter",
			dataType: "text",
            type: "GET",
            beforeSend: function (xhr) {
				$("#tweets").html(loading)
            },
            success: function (text) {
				$("#tweets").html("");
				json = eval("(" + text + ")");
   				loadTwitter(json);
            },
            complete: function (xhr) {

            },
            error: function (xhr, status, error) {
            }
		});

	});

	$('.post-photos a').lightBox({fixedNavigation:true});
		
		<%= yield(:page_js) %>
		</script>
</body>
</html>