<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>

  <%= render :partial => 'layouts/meta' %>

  <title>KPSU | <%= yield(:title) %></title>

  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag "v3" %>
  <%= stylesheet_link_tag "v3player" %>
  <%= stylesheet_link_tag "font" %>
  <%= stylesheet_link_tag "jquery-ui" %>
  <%= stylesheet_link_tag 'jquery.lightbox-0.5' %>
  <%= javascript_include_tag 'jquery' %>
  <%= javascript_include_tag 'jquery-ui' %>
  <%= javascript_include_tag 'rails' %>
  <%= javascript_include_tag 'kpsu' %>
  <%= javascript_include_tag 'jquery.jplayer2.min.js' %>
	</script>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-20622260-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</head>
	<%= yield %>
</html>